
<h1>User info</h1>



<%= render 'books/list', books: @books %>

<h1>Books</h1>

<% @books.each do |book| %>


 <span>
    <%= link_to list.title, "/books/#{book.id}" %>
  </span>
<div>
  <p>title：<%= book.title %></p>

  <p>body：<%= book.body %></p>

</div>
<% end %>