<div class="container">
    <div Class="row">
        <div class="col-md-3">
            <%= render 'books/list', book: @book, user: @user %>
            </div>
            <div class="col-md-8">
                <h1>Book detail</h1>
                <table class="table table-striped">
                    <tbody>
                        <% @book.each do |book| %>
                        <tr>
                            <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image" %></td>
                            <td> <%= link_to book.title, "/books/#{book.id}" %></td>
                            <td><%= book.body %></td>
                            </tr>
                            <% end %>
                    </tbody>
                </thead>
                            <tbody>

                            </tbody>
            </div>
    </div>
</div>